# Ignore data folder
data/
write/
export/
.Rproj.user
renv/
export_seurat/
export_anndata/

# Python intermediate files
__pycache__/
.ipynb_checkpoints/

# R intermediate files
.Rprofile
renv.lock
.Rhistory
scRNA-seq.Rproj

endo.Rmd
endo.nb.html